body{
  margin:0;
}
  a{
    color:pink;
    text-decoration: none;
  }

  h1{
    font-size: 75px;
    text-align: center;
    margin:0;
    padding:20px;
  }

  #grid ol {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  li{
    font-size: 20px;
    color:pink;
    text-align: left;
  }
  #grid{
    border:1px solid pink;
    display:grid;
    grid-template-columns: 1fr 3fr;
}
  div{
    border:1px solid pink;
    text-align:center;
    margin:10px;
  }
  h3{
    margin-top:0;
  }
  iframe{
    padding:30px;
    padding-bottom:20px;
  }

  body {
  margin: 0px;
}

  @media(max-width:670px){
    #grid{
      display:block;
  }
